#search-box {
	position: relative;
}
#search-results-box {
	position: absolute;
	width: 500px;
	background-color: #ffffff;
	z-index: 10000;
	border-bottom: 1px solid #bbbbbb;
}
#search-results-box .item {
	display: block;
	height: 50px;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	border-bottom: 2px solid #f7f7f7;
	padding: 10px;
	cursor: pointer;
	color: #333333 !important;
}
#search-results-box .item:hover, #search-results-box .item.selected {
	background-color: #f7f7f7 !important;
	text-decoration: none;
}
#search-results-box .item .item-title {
	font-weight: bold;
	font-size: 14px;
}
#search-results-box .item .item-url {
	font-size: 10px;
}
#search-results-box .item .item-highlight {
	font-weight: bold;
	background-color: #E8EDF1;
	padding-top: 3px;
	padding-bottom: 3px;
}
.search-results {
	margin-top: 20px;
}
.search-filter .search-filter-section {
	margin-bottom: 20px;
}
.search-filter-section h4 {
	padding: 5px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.search-filter-section .checkbox {
	padding: 2px;
	padding-left: 3px;
}
.search-filter-section .checkbox:hover {
	font-weight: bold;
}
.controls {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.controls .form-group {
	margin-bottom: 5px;
}
.control-label {
	font-size: 14px;
}

/* List View */
.listview .search-post {
	margin-bottom: 10px;
}
.search-post-title {

	/*font-size: 16px;
	font-weight: bold;*/
}
.search-post-creator {

	/*font-size: 10px;*/
	font-size: 80%;
}
.search-post-url {
	margin-top: 2px;
	font-size: 80%;
}
.search-post-url a {

	/*text-decoration: none;*/
}
.search-post-url i {
	margin-right: 5px;
}
.search-post-badges img {
	width: 16px;
}
.search-post-tags {
	margin-left: 3px;
	font-size: 80%;
}
.search-post-tag {
	margin-left: 4px;
	margin-right: 5px;
}

/* Search Detail View */
.search-detail-container {
	width: 100%;
	border-width: 1px;
	border-style: solid;
}
.search-detail-image {
	border-right-width: 1px;
	border-right-style: solid;
	width: 75px;
	padding: 10px;
	display: table-cell;
	vertical-align: top;
}
.search-detail-image img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
}
.search-detail-content {
	display: table-cell;
	padding: 5px;
	vertical-align: top;
	width: 100%;
	padding-right: 100px;
}
.search-detail-permissions {
	display: table-cell;
	width: 90px;
	vertical-align: top;
	font-size: 10px;
	padding: 5px;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	border-left-width: 1px;
	border-left-style: solid;
}
.search-detail-bottom {
	border-top-width: 1px;
	border-top-style: solid;
	padding: 5px;
}
.search-post-url {
	padding: 0px;
}
.search-post-creator {
	font-style: italic;
}
.hvr-glow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}